* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clock-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-main {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
